datasets/base/DrDoS_DNS.csv
datasets/base/DrDoS_LDAP.csv
datasets/base/DrDoS_MSSQL.csv
datasets/base/DrDoS_NetBIOS.csv
datasets/base/DrDoS_NTP.csv
datasets/base/DrDoS_SNMP.csv
datasets/base/DrDoS_SSDP.csv
datasets/base/DrDoS_UDP.csv
datasets/base/Syn.csv
datasets/base/TFTP_shrinked.csv
datasets/base/TFTP.csv
datasets/base/UDPLag.csv
datasets/binary/processed/CICDDoS_basic.csv
datasets/binary/processed/CICDDoS_corr.csv
datasets/binary/processed/CICDDoS_pre.csv
datasets/binary/samples/DrDoS_DNS_sampled.csv
datasets/binary/samples/DrDoS_LDAP_sampled.csv
datasets/binary/samples/DrDoS_MSSQL_sampled.csv
datasets/binary/samples/DrDoS_NetBIOS_sampled.csv
datasets/binary/samples/DrDoS_NTP_sampled.csv
datasets/binary/samples/DrDoS_SNMP_sampled.csv
datasets/binary/samples/DrDoS_SSDP_sampled.csv
datasets/binary/samples/DrDoS_UDP_sampled.csv
datasets/binary/samples/Syn_sampled.csv
datasets/binary/samples/TFTP_shrinked_sampled.csv
datasets/binary/samples/UDPLag_sampled.csv
datasets/multiclass/processed/CICDDoS_basic.csv
datasets/multiclass/processed/CICDDoS_corr.csv
datasets/multiclass/processed/CICDDoS_pre.csv
datasets/multiclass/samples/DrDoS_DNS_sampled.csv
datasets/multiclass/samples/DrDoS_LDAP_sampled.csv
datasets/multiclass/samples/DrDoS_MSSQL_sampled.csv
datasets/multiclass/samples/DrDoS_NetBIOS_sampled.csv
datasets/multiclass/samples/DrDoS_NTP_sampled.csv
datasets/multiclass/samples/DrDoS_SNMP_sampled.csv
datasets/multiclass/samples/DrDoS_SSDP_sampled.csv
datasets/multiclass/samples/DrDoS_UDP_sampled.csv
datasets/multiclass/samples/Syn_sampled.csv
datasets/multiclass/samples/TFTP_shrinked_sampled.csv
datasets/multiclass/samples/UDPLag_sampled.csv
pickles/binary/pfm_anova.pkl
pickles/binary/pfm_basic.pkl
pickles/binary/pfm_corr.pkl
pickles/binary/pfm_mi.pkl
pickles/binary/pfm_pre.pkl
pickles/binary/pfm_relieff.pkl
pickles/binary/pfm_rfe.pkl
pickles/binary/pfm_wrfs.pkl
pickles/binary/pfm_xgb_gain.pkl
pickles/general/binary_balanced_labels.pkl
pickles/general/full_labels.pkl
pickles/general/full_tftp_labels.pkl
pickles/general/labels_table.pkl
pickles/general/multiclass_balanced_labels.pkl
pickles/multiclass_categorical/pfm_anova.pkl
pickles/multiclass_categorical/pfm_basic.pkl
pickles/multiclass_categorical/pfm_corr.pkl
pickles/multiclass_categorical/pfm_mi.pkl
pickles/multiclass_categorical/pfm_pre.pkl
pickles/multiclass_categorical/pfm_relieff.pkl
pickles/multiclass_categorical/pfm_rfe.pkl
pickles/multiclass_categorical/pfm_wrfs.pkl
pickles/multiclass_categorical/pfm_xgb_gain.pkl
pickles/multiclass_one_vs_one/pfm_anova.pkl
pickles/multiclass_one_vs_one/pfm_basic.pkl
pickles/multiclass_one_vs_one/pfm_corr.pkl
pickles/multiclass_one_vs_one/pfm_mi.pkl
pickles/multiclass_one_vs_one/pfm_pre.pkl
pickles/multiclass_one_vs_one/pfm_relieff.pkl
pickles/multiclass_one_vs_one/pfm_rfe.pkl
pickles/multiclass_one_vs_one/pfm_wrfs.pkl
pickles/multiclass_one_vs_one/pfm_xgb_gain.pkl
pickles/multiclass_one_vs_rest/pfm_anova.pkl
pickles/multiclass_one_vs_rest/pfm_basic.pkl
pickles/multiclass_one_vs_rest/pfm_corr.pkl
pickles/multiclass_one_vs_rest/pfm_mi.pkl
pickles/multiclass_one_vs_rest/pfm_pre.pkl
pickles/multiclass_one_vs_rest/pfm_relieff.pkl
pickles/multiclass_one_vs_rest/pfm_rfe.pkl
pickles/multiclass_one_vs_rest/pfm_wrfs.pkl
pickles/multiclass_one_vs_rest/pfm_xgb_gain.pkl
